* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/img/bg-green.svg);
    background-color: #121214;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.table {
    margin: 0;
}

.card {
    border: none;
    margin: 0;
}